@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}



<div id="header">
    <p>You must be authenticated to access this page.</p>
    <!-- Add text to say they are logged in if in fact they are -->
</div>
