@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<div id="header">
    <p>Not authorized to access whatever it is you tried to.</p>
</div>
